.footer{
  padding: 20px;
  background-color: blue;
}
.fnav-link{
  color: white !important;
  font-weight: 500;
  cursor: pointer !important;
  text-decoration: none !important;
  margin: 20px;
  font-family: Amiko,sans-serif;
}
hr{
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.footer p{
  color: aliceblue;
}
.footer i{
  color: aliceblue;
  margin: 20px;
}


