.carttitle{
    font-size: 30px;
}

.fa-plus-circle{
  font-size: 20px;
  color: green;
  margin: 20px !important;
}

.fa-minus-circle{
  font-size: 20px;
    color: red;
    margin: 20px !important;
  }

  tr,th,td{
      vertical-align: middle !important;
  }

