.title{
    color: white;
    text-align: center;
    font-size: 100px;
}
.intro{
    background-color: blue;
    padding-top: 150px;
    padding-bottom: 200px;
    min-height: 100vh;
}
.quote{
   color: white;
   font-size: 20px;
}
.getstarted{
  border-radius: 20px;
  background-color: #0ee7e7;
  color: black;
  margin: 10px;
  width: 150px;
}
.aboutus{
    border-radius: 20px;
    background-color: white !important;
    margin: 10px;
    width: 150px;
  }


  @media(max-width:500px){
      .title{
          font-size: 70px;
      }
  }

